form {
    width: 100%;
    display: grid;
    place-items: center;
    height: calc(100vh - 150px);
}

form div {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 16px;
    gap: 20px;
    width: 1000px;
    
}

#form-wrapper{
    width:50%;
    height:50%;
    border-radius:20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
}